{% extends 'base.html' %}

{%block body%}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Employee Salary</h4>
                    <a class="btn btn-sm btn-primary" style="margin-left:-2px; margin-top: 0px;" href="emplo_sal_add">Update Salary</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                
                                <th>
                                    Name
                                </th>
                                <th>
                                    Salary_Amount
                                </th>
                                <th>
                                    Salary_Date
                                </th>
                                <th>
                                    Added_On
                                </th>
                            </thead>
                            <tbody>
                            {% for emplo_sal in emploi_sal%}
                                <tr>
                                    <td>
                                     {{emplo_sal.employee_id}}
                                    </td>
                                    <td>
                                    {{emplo_sal.salary_amount}}
                                    </td>
                                    <td>
                                     {{emplo_sal.salary_date}}
                                    </td>
                                    <td class="text-primary">
                                    {{emplo_sal.added_on}}
                                    </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


    {%endblock body%}